<!-- Pricing Section -->
<section id="about" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2 class="section-heading">FAQ</h2>

        <h4>What Services do we provide?</h4>
        <p class="large text-muted">
          <%= ENV['company_name'] %> provides seamless off site workflow coordination of proofreading services for corporate and small business clients their associated staff and individuals. All submitted confidential documents for production review are transferred through a secure client portal, which is accessed via client account login and password. Seamless workflow integration is further enhanced with tracking system updates on job status to job completion as clients send and receive documents. Production services are provided 24 hours a day 7 days per week and include the following document types:
        </p>
        
        <ul class="large text-muted">
          <li class="large text-muted">Revisions</li>
          <li class="large text-muted">Cold Reading</li>
          <li class="large text-muted">Word for Word</li>
          <li class="large text-muted">Document Conversions</li>
          <li class="large text-muted">Copy Editing</li>
          <li class="large text-muted">Cross Reference Checks</li>
          <li class="large text-muted">Manual precise and cumulative red/blacklining</li>
          <li class="large text-muted">EDGAR/XBRL</li>
        </ul>

        <p class="large text-muted">
         <%= ENV['company_name'] %> provides superior proofreading services in a seamless integrative workflow environment through a secure client portal. Our proofreading service allows clients to feel as if we’re in the “next room.”
        <p>

        <h4>Who are we?</h4>
        <p class="large text-muted">
          <%= ENV['company_name'] %> was founded by a small but passionate team of New York City based proofreaders, editors and programmers. We strongly believe in the power of efficient and effective communication, and built this application to serve the needs of businesses and individuals alike. 
        </p>

        <p class="large text-muted">
          Our skilled team of editors have extensive experience in legal and financial proofreading, as well as expertise in creative writing for advertising and marketing campaigns. We pride ourselves on understanding your objective in any writing endeavor and helping you achieve it with style (and good punctuation).
        </p>

      </div>
    </div>
  </div>
</section>