<!-- Header -->
<div id="header-area" class="header">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">Informed Health</div>
      <div class="intro-heading">Knowledge is Power</div>
      <a href="#about" class="page-scroll btn btn-xl extra-margin">Learn More</a>
      <a href="#contact" target="_top", class="page-scroll btn btn-xl extra-margin">Try Us Now</a>
    </div>
  </div>
</div>