<!-- Header -->
<div id="header-area" class="header">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">So you're having a procedure..</div>
      <div class="intro-heading">Get Informed</div>
      <a href="#how-it-works" class="page-scroll btn btn-xl extra-margin">Learn More</a>
      <a href="#contact" target="_top", class="page-scroll btn btn-xl extra-margin">Get in Touch</a>
    </div>
  </div>
</div>