  <!-- How it Works Section -->
  <section id="how-it-works">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8 col-sm-12 text-center">
          <h2 class="section-heading">How It Works</h2>
          <h3 class="section-subheading text-muted">
            Get the information you need about your upcoming procedure.
          <br/>
            All the facts. In one place. Available anytime, anywhere.
          <br/>
            Plus your physician is here to answer any and all questions.
          </h3>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i id="fa-edit" class="fa fa-edit fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">1. Sign Up</h4>
          <p class="text-muted">To get informed about your procedure. For Free. </p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">s
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-stethoscope fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">2. Understand your Options</h4>
          <p class="text-muted">Our physicians give you only the latest verified facts.</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-heartbeat fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">3. Get better Outcomes</h4>
          <p class="text-muted">Know all your options and ask any questions.</p>
        </div>
      </div>
    </div>
  </section>