  <!-- How it Works Section -->
  <section id="how-it-works">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8 col-sm-12 text-center">
          <h2 class="section-heading">How It Works</h2>
          <h3 class="section-subheading text-muted">
            Get professional proofreaders to doublecheck everything you write.
          <br/>
            Communicate more effectively, avoid spelling and grammar mistakes and become a stronger writer.
          </h3>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i id="fa-edit" class="fa fa-edit fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">1. Email <a href<%= ENV["support_email"] %>><%= ENV["support_email"] %></a></h4>
          <p class="text-muted">All data is encryped with SSL security</p>
          <p class="text-muted">We accept all types of documents</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">s
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-dollar fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">2. Receive a Quote</h4>
          <p class="text-muted">Our average quote response time is under 10 minutes</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">3. Write Better</h4>
          <p class="text-muted">Receive fast professional feedback</p>
          <p class="text-muted">Our average response time is 30 minutes per page</p>
        </div>
      </div>
    </div>
  </section>