/*----- CP Edits-----*/

.job-messages .subject {
  color: #333346;
  font-size: 20px;
  text-transform: none;
}

.job-messages .created_at {
  font-size: 14px;
  display:inline-block;
}

.job-portal {
  display: -webkit-inline-box;
}

.small-section {
  padding: 90px;
}

footer {
  border-top: #222222 solid 5px;
}

#header-area {
  background: image-url("doctor-563429_1920_enhanced.jpg");
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;
}

#user_remember_me {
  margin-left: 0px; 
}

#fa-edit {
  left: 5px;
}

#media-companies
{
  padding-top: 50px;
}

#what-we-do
{
  padding-top: 50px;
}

#contact-us-heading {
  margin-bottom: 30px;
}

#contact-us-phone-section {
  margin-bottom: 40px;
}

#contact-us-instructions {
  margin-bottom: 10px;
  color: #BBB;
}

#contact-us-phone-number  {
  color: white;
  font-size: 22px;
}

.alert-wrapper {
  position: absolute;
  margin-top: 100px;
  z-index: 3;
  width: 100%;
}

.alert {
  width: 400px;
  float:none;
  margin-left: auto;
  margin-right: auto;
}

.panel-procedure {
  border-color: #3B9158;
  /* Removing Box-Shadow for now */
  /*box-shadow: 0 2px 2px rgba(31, 73, 125, 0.8), 0 -2px 2px rgba(31, 73, 125, 0.8), 2px 0 2px rgba(31, 73, 125, 0.8), -2px 0 2px rgba(31, 73, 125, 0.8);*/
}

.panel-heading {
  background-color: #4BB76F;
  border-color: #4BB76F;
  color: white;
}

.panel-procedure .panel-title {
  font-size: 24px;
}

.panel-consent .panel-heading {
  min-height: 77px;
}

.panel-consent .panel-title {
  font-size: 36px;
  display: inline-block;
  padding-top: 10px;
}

.panel-consent .consent-button {
  color: white;
}

.panel-consent .consent-button:hover {
  color: #222222;
}

.instructions {
  font-size: 13px;
}

// TODO: These need to be moved into the correct location.

.form-job-type {
  width: 250px;
}

.form-subject {
  width: 60%;
}

.form-body {
  width: 90%;
  min-height: 150px;
}

.form-attachment {
  width: 340px;
}

#deadline-group {
  width: 340px;
}

#buy-credits {
  background-color: white;
}

#buy-credits p {
  margin-top: 10px;
  margin-bottom: 20px;
}

#buy-credits label {
  padding-left: 0px;
}

/* TODO: Style up these radio buttons to look like a pricing page */
/*#buy-credits .row {
  height: 100px;
  }*/

/*#buy-credits .radio-inline {
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  height: 200px;
  padding: 20px;
  }*/

  #buy-credits #customButton {
    margin-top: 20px;
  }

//*/ // make all images responsive by default
// img {
  //   @extend .img-responsive;
  //   margin: 0 auto;
  //   }
  // // override for the 'Home' navigation link
  // .navbar-brand {
    //   font-size: inherit;
    //   }

    // // THESE ARE EXAMPLES YOU CAN MODIFY
    // // create your own classes
    // // to make views framework-neutral
    // .column {
      //   @extend .col-md-6;
      //   @extend .text-center;
      //   }
      // .form {
        //   @extend .col-md-6;
        //   }
        // .form-centered {
          //   @extend .col-md-6;
          //   @extend .text-center;
          //   }
          // .submit {
            //   @extend .btn;
            //   @extend .btn-primary;
            //   @extend .btn-lg;
            //   }
            // // apply styles to HTML elements
            // // to make views framework-neutral
            // main {
              //   @extend .container;
              //   background-color: #eee;
              //   padding-bottom: 80px;
              //   width: 100%;
              //   margin-top: 51px; // accommodate the navbar
              //   }
              // section {
                //   @extend .row;
                //   margin-top: 20px;
                //   }*/

                // Styles for form views
                // using Bootstrap
                // generated by the rails_layout gem
                .authform {
                  padding-top: 30px;
                  /*  max-width: 320px;*/
                  margin: 0 auto;
                }
                .authform form {
                  @extend .well;
                  @extend .well-lg;
                  padding-bottom: 40px;
                }
                .authform .right {
                  float: right !important;
                }
                .authform .button {
                  @extend .btn;
                  @extend .btn-primary;
                }
                .authform fieldset {
                  @extend .well;
                }
                #error_explanation {
                  @extend .alert;
                  @extend .alert-danger;
                }
                #error_explanation h2 {
                  font-size: 16px;
                }
                .button-xs {
                  @extend .btn;
                  @extend .btn-primary;
                  @extend .btn-xs;
                }
